<table id="item_table" class="table table-condensed">

	<% counter = 0; %>
	<% @menuItems.each do |item| %>
	<% counter+=1; %>
	<tr>
	  <td><%= counter %> </td>
	  <td><a id="item_button" data-target="#modal_item_create" class="btn btn-inverse" 
	   data-toggle="modal" data-keyboard="true" data-backdrop="static"><%= item.name %></a>
	  <td>$ <%= number_with_precision(item.price, :precision => 2) %></td>
	</tr>
	<% end %>
</table>
