<table class="table table-condensed">

	<% counter = 0; %>
	<% @menuItems.each do |item| %>
	<% counter+=1; %>
	<tr>
	  <td><%= counter %> </td>
	  <td><a href=""><%= item.name %>
	  <td>$ <%= number_with_precision(item.price, :precision => 2) %></td>
	</tr>
	<% end %>
</table>
