<div class="main_menu">
	<div class="well">
		<div class="about_center">
			<h1>Update Menu Name</h1>
		</div> 
	</div>

	<%= render 'form' %>

	<%= link_to 'View Full Menu', @menu %> |
	<%= link_to 'Show All Menus', menus_path %>
</div>