	<div class="apple">
		<a href="http://www.apple.com/iphone/from-the-app-store/"><img class="button" src="/assets/appicon2.png"></a>  
	</div>	

	<div class="android">
		<a href="http://www.apple.com/iphone/from-the-app-store/"><img class="button" src="/assets/googicon2.png"></a>
	</div>	

	<div class="iphone">
		<img src="/assets/iphone.png">
	</div>	

	<div class="galaxy">
		<img src="/assets/android.png">
	</div>	

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>