		<div class="header" id="header-index">    
       	<h1>SporkTrucks</h1>
       	<br>
        <p><a href="<%=food_trucks_path%>" class="btn btn-inverse btn-large">Find a Food Truck &raquo;</a>
		</div>
