
<script>
	bindMap( '<%= @accessToken.to_s %>' );
</script>

<h1>Spork Maps v0.8</h1>

<div  id="map_canvas" align="center" style="width: 800px; height: 400px"></div>

<form class="well">
	<label><h3>Enter zipcode</h3></label>
	<input type="text" class="span3" placeholder="e.g. 10002">
	<button type="submit" class="btn btn-inverse">Submit</button>
</form>