
	<div class="photo">
		<img src="/assets/beach.png">
	</div>	

	<dix class="text">
		<p> Michelle Rittner and Blake Rego enjoyed getting their lunches from New York's finest food trucks, but they could never seem to find their favorite ones.  Rather than follow dozens of food trucks on twitter, facebook, and RSS feeds, they decided to make life simple with a one-stop food truck tracker, Spork.  Blake, an experienced software engineer, created the back end, while Michelle, a web designer, created the front end.  With Spork, they can now find their favorite food trucks from the comfort of their air conditioned offices before stepping foot outside. Michelle and Blake are excited to share Spork with fellow food truck enthusiasts!</p>
	</div>
