<div class="about_center">
  <h1>About Us</h1>
</div>
<div class="row">	
	<div class="span12" class="thumbnails">
		<img id="blake" class="span2 offset2 thumbnail" src="assets/blake.png">
		<div class="span4 well">
			<h5>Blake Rego</h5> Blake is a technologist from Miami, now residing in NYC. Other than coding, Blake also enjoys travelling, taking photos, playing guitar, and eating pizza.
		</div>
	</div>
</div>
<div class="row">
	<div class="span12" class="thumbnails">
	  <img id="michelle" class="span2 offset2 thumbnail" src="assets/michelle.png">
	  <div class="span4 well">
			<h5>Michelle Rittner</h5>Michelle is a web designer with a pixel perfect eye for design. She is obsessed with all things sushi, and dreams of visiting Japan.
		</div>
	</div>
</div>
<div class="row">
	<div class="span12" class="thumbnails">
	  <img id="ben" class="span2 offset2 thumbnail" src="assets/ben.png">
	  <div class="span4 well">
			<h5>Ben Schachter</h5> Ben is a business developer.
		</div>
	</div> 
</div> 

<!-- 	<div class="span12">
	  <div class="well">
	    <div id="about_center">
	    	<h1>About Us</h1>
	    </div>
				<ul class="thumbnails">
					<li class="span3 offset1">
        		<img id="blake" class="thumbnail" src="assets/blake.png">
					</li>
	        <li class="span3">
	          <img id="michelle" class="thumbnail" src="assets/michelle.png">
	        </li>
	        <li class="span3">
	          <img id="ben" class="thumbnail" src="assets/ben.png">
	        </li>
	      </ul> 
	  </div>
	</div>	
 </div> -->

<script type="text/javascript">
  $('#blake').popover('show');
  $('#michelle').popover('show');
  $('#ben').popover('show');
</script>