<div id="menu_center">
	<h1>
		Choose a Neighborhood
	</h1>
</div>	
<div id="align_center">
	<h4>
		<a href="">DUMBO<br>
		<a href="">Financial District
	</h4>

	<img src="assets/manhattan_map.png" usemap="#manhattan" width="187" height="475"/>  
  		<map name="manhattan">
				<area alt="new page" shape="poly" coords="129, 86, 183, 86, 185, 82, 186, 76, 181, 67, 174, 62, 162, 53, 156, 49, 150, 45, 146, 47, 139, 51, 136, 52, 135, 56, 133, 67" area href="index.html.erb"/>
		</map>	
</div>	
