<div class="well">
	<div class="about_center">
		<h1> Get in touch</h1>
	</div>
	<p> If you have any thoughts about our product, want to get involved, or just want to say hello, we'd love to hear from you! 
		Just email <a href="mailto: michelle.e.rittner@gmail.com">Michelle</a>, <a href="mailto: blake.rego@gmail.com">Blake</a>, or 
		<a href="mailto: benschac@gmail.com">Ben</a>.
	</p>	
</div>
