<div class="hero-unit">

	<h1> Get in touch</h1>
	<p> If you have any thoughts about or product, want to get involved, or just want to say hello, we'd love to hear from you! 
		Just email <a href="mailto: michelle.e.rittner@gmail.com">Michele</a>, <a href="mailto: blake.rego@gmail.com">Blake</a>, or 
		<a href="mailto: benschac@gmail.com">Ben</a>
	</p>	
</div>
