    <!--meta http-equiv="Refresh" content="0;url=" /-->


    <div class="text">
	    Redirecting to foursquare for authentication...	    
	    <%=link_to "Authenticate Now", @foursquareUrl %>
    </div>
