<div class="main_menu">

	<div class="hero-unit">
		<h1>Editing item</h1>
	<%= render 'form' %>

	<%= link_to 'Show', @item, :class => 'btn btn-inverse' %> |
	<%= link_to 'Back', items_path, :class => 'btn btn-inverse' %>
	</div>

</div>