/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*
.body
{
	z-index:1;
	background-color: #d74b20;
	position:absolute;
	width:100%;
	height:30%;
	min-height: 220px;
	max-height: 350px;
}
*/

@font-face {
    font-family: "ElliotSix";
    src: url("ElliotSix.ttf") format("truetype");
}

.map
{
	z-index:2;
	position: absolute;
	width:600px;
	height:550px;
	left:200px;
	top:310px;
	padding:19px;
}

.apple 
{
	z-index:3;
	position:absolute;
	top:310;
	left:310;
	max-height:60;
	max-width:172;
	background-color: white;	
}

.android
{
	z-index:3;
	position:absolute;
	top:310;
	left:780;
	background-color:white;
}

img.button {
	z-index:2;
	opacity: 1;
	filter: alpha(opacity=100);
	}	
 
img.button:hover {
	background-color: gray;
	}


.iphone
{
	z-index:3;
	position:absolute;
	top:400;
	left:250;
}


.galaxy
{
	z-index:3;
	position:absolute;
	top:400;
	left:730;
}


.photo
{
	z-index:3;
	position:absolute;
	left:100px;
	top:300px;
}

.text
{
	z-index:3;
	position:absolute;
	left:500;
	top:250px;
	color:black;
    font-size:18px;
    font-family:arial;
    padding:60px;
    line-height:30px;
   	letter-spacing: -1px;
}

.help-text
{
	z-index:3;
	position:absolute;
	color:black;
    font-size:28px;
    font-family:"ElliotSix";
    padding:60px;
   	letter-spacing: -1.5px;
}

.touch
{
	z-index:3;
	position:absolute;
	left:280px;
	top:310px;
	color:black;
    font-size:28px;
    font-family:"ElliotSix";
	text-align:center;
	height:400px;
	width:700px;
	padding:20;
}


.email
{
	z-index:3;
	position:absolute;
	font-family:arial;
	font-size:16;
	left:530;
	top:370;
	color:black;
	line-height:.5;
}
a:link
{
	color: #484646;
	text-decoration: none;
}
a:visited:
{
	color:gray;
}

#Menu_Nav
{
	z-index: 5; 
	position: absolute;
	background-color: black; 
	color: gray;
	left: 10px;
	top: 250px;
}

#Selected
{
	color:white;
}



/******************** POST RE-DESIGN **************************************************/

body 
{  
	padding: 0 0 40 0;
	    
}


@font-face {
    font-family:"Capture_it";
    src: url("/assets/Capture_it.ttf") format("truetype");
}


#banner
{
	z-index: 10;
	position:relative;
	padding: 0;
	font-size: 12px;
	color:#333;

}

#banner h2
{
	font-family: "Capture_it";
}

.headerTruck
{
	background-image: url("/assets/headerspecial2.png");
    background-repeat: repeat-x;
    background-position: center top;
    width: 100%;
    height:50%;
  /*  height: 526px;*/
    margin: 0 0 0 0;
    text-align: center;
    display: block;
    padding: 80 0 0 0;
}


.headerTruck h1
{
	font-size: 100px;
	font-family: "Capture_it";
	padding-bottom: 20px;
}

#headerBox
{
	z-index: 2;
	position: relative;
	width: 100%;
	height:100%;
	/*border: solid 1px blue;*/
	left:300px;
	right:200px;
}
