/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.outerBox{
	z-index:0;
	background-color: #22a8e0; overflow-x: hidden;
	position:relative;
	width:100%;
	height:100%;
	/*border:solid 1px red;*/
}

.body
{
	/*background-color: #22a8e0;
	background-image: url("horiz-bars.png");
	background-repeat: repeat-x;*/
	z-index:1;
	background-color: #d74b20;
	position:absolute;
	width:100%;
	height:30%;
	min-height: 220px;
	max-height: 350px;
	/*border:solid 1px green;*/
}

@font-face {
    font-family: "ElliotSix";
    src: url("fonts/ElliotSix.ttf") format("truetype");
}

.headerBox{
	z-index: 2;
	position:absolute;
	height:500px;
	width:800px;
	left:400px;
	right:300px;
	top:50px;
	/*border:solid 1px blue;*/
}

.truck{
	z-index: 2;
	position:absolute;
	height:300px;
	width:500px;
	left:930px;
	top:93px;
} 

.map
{
	z-index:2;
	position: absolute;
	width:700px;
	height:600px;
	left:200px;
	top:280px;
	padding:30px;
}

.intro
{
	z-index:2;
	position:absolute;
	color:white;
    font-size:30px;
    font-family:ElliotSix;
    top:95px;
    left: 40px;
    padding:10px;
    -webkit-transform: rotate(-15deg);
}

.well
{
	z-index:3;
	position:absolute;
	left:850px;
	top:310px;
	font-family:ElliotSix;
	font-size: 30px;
	padding:20px;
}